* {
  margin: 0px;
  padding: 0px;
  font-family: segoe UI;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #536976;
  background: -webkit-linear-gradient(to right, #536976, #292e49);
  background: linear-gradient(to right, #536976, #292e49);
}

.container {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 10%;
}

.padd {
  padding: 20px;
}

.header {
  color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.opened {
  display: none;
}

.card {
  height: 300px;
  width: 18%;
  background-color: red;
  margin-top: 20px;
  background-size: cover;
}

.overlay {
  cursor: pointer;
  position: relative;
  padding: 20px;
  height: 300px;
  width: 100%;
  background-color: #000;
}

.overlay i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.gameover-modal {
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.gameover-modal p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restart {
  padding: 8px 20px;
  font-size: 20px;
  border: 0;
  color: #000;
  margin-top: 30px;
  cursor: pointer;
}
